.big-button {
    background: $button-purple;
    border: none;
    border-bottom: .8rem solid darken($button-purple, 20%);
    color: whitesmoke;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2rem;
}

@media (min-width : $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $button-purple;
    border: none;
    border-bottom: .6rem solid darken($button-purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    color: $off-white;
    border: none;
    padding: 0;
}

.button:disabled {
    opacity: .5;
}