.header {
    color: #d4d4d4;
    background-color: #1a232b;
    margin-bottom: 4.6rem;
    padding: 1.6rem 0;
}

.header__titile {
    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle {
    color: #a5afd7;
    font-size: 1.6rem;
    font-weight: 500rem;
    margin: 0;
}